<%_ const path='./../'; _%>
<!DOCTYPE html>
<html lang="ja">
    <head>
        <!-- meta -->
        <%- include('./../_common/_head', {
        path:path,meta:data.meta['contact'],}) %>
    </head>
    <body>
        <!-- .l-main -->
        <main class="l-main">
            <section class="">
                <div class="">
                    <p>お問い合わせは以下からよろしくお願いします。</p>
                    <form
                        action="https://hyperform.jp/api/CTrmHJtW"
                        method="POST"
                        class="c-form"
                    >
                        <div class="c-form__item">
                            <label class="c-form__label" for="field-name"
                                >名前・会社名　<span class="c-form__required"
                                    >必須</span
                                ></label
                            >
                            <input
                                class="c-form__input"
                                id="field-name"
                                placeholder="株式会社 山田"
                                name="名前・会社名"
                                type="text"
                                required="required"
                            />
                        </div>
                        <div class="c-form__item">
                            <label class="c-form__label" for="field-mail"
                                >メールアドレス<span class="c-form__required"
                                    >必須</span
                                ></label
                            >
                            <input
                                class="c-form__input"
                                id="field-mail"
                                placeholder="sample@gmail.com"
                                name="email"
                                type="email"
                                required="required"
                            />
                        </div>
                        <div class="c-form__item">
                            <label class="c-form__label" for="field-select"
                                >ご用件/目的　<span class="c-form__required"
                                    >必須</span
                                ></label
                            >
                            <select
                                class="c-form__input"
                                id="field-select"
                                required="required"
                                name="ご用件／目的"
                            >
                                <option value="">選択してください</option>
                                <option value="掲載に関するお問い合わせ">
                                    掲載に関するお問い合わせ
                                </option>
                                <option
                                    value="当サイトの修正等に関するお問い合わせ"
                                >
                                    当サイトの修正等に関するお問い合わせ
                                </option>
                                <option value="ホームページ制作のご依頼">
                                    ホームページ制作のご依頼
                                </option>
                                <option value="取材等の連絡">
                                    取材等の連絡
                                </option>
                                <option
                                    value="その他（メッセージ内容に記載ください）"
                                >
                                    その他（メッセージ内容に記載ください）
                                </option>
                            </select>
                        </div>
                        <div class="c-form__item">
                            <label class="c-form__label" for="field-message"
                                >メッセージ内容</label
                            >
                            <textarea
                                class="c-form__input"
                                id="field-message"
                                name="お問い合わせ内容"
                                placeholder="お問い合わせ内容"
                            ></textarea>
                        </div>
                        <div class="c-cta">
                            <button type="submit" class="c-cta__button">
                                送信する
                            </button>
                        </div>
                    </form>
                </div>
            </section>
        </main>
        <!-- /.l-main -->

        <%- include('./../_common/_footer',{path:path,}) %>
    </body>
</html>
