/* @charset "UTF-8";@import url(https://fonts.googleapis.com/icon?family=Material+Icons);@import url(https://unpkg.com/swiper@7/swiper-bundle.min.css);*{box-sizing:border-box}::after,::before{box-sizing:inherit}html{line-height:1.15;-webkit-text-size-adjust:100%;-webkit-tap-highlight-color:transparent}body{margin:0}main{display:block}form,iframe,p{margin:0}h1,h2,h3,h4{font-size:inherit;line-height:inherit;font-weight:inherit;margin:0}ul{margin:0;padding:0;list-style:none}a{background-color:transparent;text-decoration:none;color:inherit}small{font-size:80%}img{border-style:none;vertical-align:bottom}embed,iframe{border:0;vertical-align:bottom}button,input,select,textarea{-webkit-appearance:none;appearance:none;vertical-align:middle;color:inherit;font:inherit;border:0;background:0 0;padding:0;margin:0;outline:0;border-radius:0;text-align:inherit}[type=checkbox]{-webkit-appearance:checkbox;appearance:checkbox}button,input{overflow:visible}button,select{text-transform:none}[type=button],[type=submit],button{cursor:pointer;-webkit-appearance:none;appearance:none}[type=button]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}select::-ms-expand{display:none}option{padding:0}textarea{overflow:auto}label[for]{cursor:pointer}*,:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box}html{font-size:62.5%;line-height:1.6;height:100%;scroll-behavior:smooth}body{color:#333;background-color:#fff;font-size:1.6rem;font-family:YuGothic,"Yu Gothic","Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;font-weight:500;max-width:100vw;min-width:350px;width:100%;overflow-x:hidden}::selection{background-color:rgba(115,203,243,.7);color:#fff}:focus-visible{outline:#73cbf3 auto 1px}img{max-width:100%;height:auto;border:none;display:block}a{color:#1ca9e3;text-decoration:underline;position:relative}a:hover{text-decoration:none}a:hover img{text-decoration:none;opacity:.8;transition:all .4s}a,button,input,label{transition:all .4s}.l-footer-share{display:flex;justify-content:flex-start;align-items:center;margin:40px 0}.l-footer-share .l-footer-share__inner{display:flex;flex-direction:column;justify-content:flex-start;align-items:flex-start;gap:8px;width:100%;max-width:1000px;margin:0 auto;padding:0 16px}.l-footer-share .l-footer-share__icon{fill:#fff;width:24px}.l-footer-share .l-footer-share__twitter,.l-footer-share .l-footer-share__url{display:inline-flex;justify-content:center;align-items:center;gap:8px;height:30px;padding:4px 16px;border-radius:4px;color:#fff;background-color:#73cbf3;text-decoration:none}.l-footer-share .l-footer-share__twitter:hover,.l-footer-share .l-footer-share__url:hover{opacity:.7}.l-footer-share .l-footer-share__twitter{background-color:#55acee}.l-footer-share .l-footer-share__label{display:flex;justify-content:center;align-items:center}.l-footer{font-size:1.4rem;background:#333;padding:40px 0 24px}.l-footer__inner{max-width:1000px;margin:0 auto;padding:10px 20px 36px;color:#fff;border-bottom:solid .5px #fff;display:flex;flex-wrap:wrap;justify-content:space-evenly;align-items:flex-start;gap:16px}.l-footer__nav:nth-of-type(1){width:100%}.l-footer__nav:nth-of-type(2){display:none}.l-footer__nav:nth-of-type(3),.l-footer__nav:nth-of-type(4){width:47%}.l-footer__subtitle{font-size:1.6rem;font-weight:700;margin-bottom:8px}.l-footer__lists li+li{margin-top:6px}.l-footer__lists a{color:#fff}.l-footer__copy{display:block;text-align:center;color:#fff;font-size:1.2rem;margin:24px auto 0}@media (min-width:640px){.l-footer__inner{flex-wrap:nowrap}.l-footer__nav{flex:1}.l-footer__nav:nth-of-type(2){display:block}}body{display:flex;flex-direction:column;min-height:100vh}.l-main{flex:1}.l-main__logo{display:inline-block;width:120px;background-color:#fff;border-radius:4px}#map .l-footer{display:none}.l-section-page-map{display:block;max-width:1200px;width:100vw;height:calc(100vh - 120px);margin:0 auto}.l-section-page-map iframe{width:100%;height:100%}.l-section{background-color:#fff;padding:120px 0}.l-section__inner{max-width:1200px;margin:0 auto;padding:10px 20px}.l-section__title{text-align:center;font-size:28px;font-weight:700;margin:0 auto 20px;position:relative}.l-section__title:after{content:"";position:absolute;display:inline-block;width:60px;height:4px;bottom:-4px;left:50%;border-radius:8px;transform:translateX(-50%);background-color:#73cbf3}.l-section__lead{display:table;margin:0 auto 32px;text-align:left}.l-section__block{margin:32px auto 0}.l-section-page{padding:8px 0 40px}.l-section-page__inner{max-width:800px;margin:0 auto;padding:10px 20px}.l-section-page__inner>*{margin:16px 0}.l-section-page__inner h1{font-size:36px;font-weight:700}.l-section-page__inner h2{font-size:28px;font-weight:700;padding:4px 14px;border-left:solid 4px #73cbf3;border-radius:8px}.l-section-page__inner iframe{width:100%;height:320px}.header__searchOpenBtn:after{font-size:14px;font-weight:700;line-height:1.4;content:"検索"}.l-nav-toggle__label:after{font-size:14px;font-weight:700;line-height:1.4;content:"マップ"}.header__searchOpenBtn:hover{background-color:#73cbf3;opacity:.7}.l-nav-toggle__label:hover{opacity:.7}.header__searchOpenBtn{display:flex;flex-direction:column;justify-content:space-between;align-items:center;text-align:center;width:56px;height:56px;padding:4px;color:#fff;background-color:#73cbf3;box-shadow:0 2px 4px 0 #333;border-radius:16px;position:fixed;bottom:16px;right:88px;z-index:9}.header__searchOpenBtn svg{font-size:16px;color:#fff;fill:#fff;width:24px;height:24px}.l-nav-toggle{color:#fff;position:fixed;bottom:16px;right:16px;z-index:8}.l-nav-toggle__label{display:flex;flex-direction:column;justify-content:space-between;align-items:center;text-align:center;width:56px;height:56px;padding:4px;color:#fff;background-color:#73cbf3;box-shadow:0 2px 4px 0 #333;border-radius:16px;position:relative}.l-nav-toggle__label span{font-weight:700}.l-nav-toggle__navClose{display:none}.l-nav-toggle__content{position:absolute;bottom:70px;left:140%;transition:all .4s;display:flex;justify-content:center;align-items:center;width:90%;height:calc(100% - 56px);background-color:#fff;border-radius:0 0 0 16px}.l-nav-toggle__content iframe{display:block;width:90%;height:90%}#l-nav-toggle__navToggle{display:none}#l-nav-toggle__navToggle:checked~.l-nav-toggle__navClose{display:block;position:fixed;bottom:0;left:0;width:100%;height:100%;background-color:rgba(51,51,51,.6)}#l-nav-toggle__navToggle:checked~.l-nav-toggle__content{position:fixed;bottom:70px;right:0;left:10%}.c-loading{width:100vw;height:100vh;transition:all 1s;background-color:#fff;position:fixed;top:0;left:0;z-index:9999}.c-loading.is-loaded{opacity:0;visibility:hidden}.c-loading__spinner{width:100px;height:100px;margin:40vh auto;border:3px solid #73cbf3;border-top:3px solid transparent;border-radius:50%;animation:loadingAnimation .8s linear 0s infinite}@keyframes loadingAnimation{from{transform:rotate(0)}to{transform:rotate(359deg)}}.c-gallery{display:grid;justify-content:center;grid-template-columns:repeat(auto-fit,150px)}.c-gallery__link{display:inline-block;width:100%;height:100%;color:#333;text-decoration:none;border:solid .5px #ccc;display:grid}.c-gallery__picture,.c-gallery__title{grid-area:1/-1}.c-gallery__picture img{border:solid 8px #fff}.c-gallery__title{background:linear-gradient(to top,#ffffffd9,#ffffff00) bottom/100% 60% no-repeat;font-weight:700;display:flex;flex-direction:column;justify-content:flex-end;padding:10px 14px}@media (min-width:640px){.c-gallery{grid-template-columns:repeat(auto-fit,300px)}}.c-cta{display:flex;flex-direction:column;justify-content:center;align-items:center;gap:8px}.c-cta__copy{text-align:center;position:relative;display:inline-block;padding:0 30px}.c-cta__copy:after,.c-cta__copy:before{content:"";position:absolute;top:50%;display:inline-block;width:28px;height:1px;background-color:#333}.c-cta__copy:before{left:0;transform:rotate(60deg)}.c-cta__copy:after{transform:rotate(-60deg);right:0}.c-cta__button{display:inline-block;text-align:center;font-size:14px;font-weight:700;color:#fff;background-color:#73cbf3;border:solid 2px #73cbf3;border-radius:50px;margin:0 auto;padding:16px 20px;min-width:320px;max-width:100%;text-decoration:none;position:relative}.c-cta__button:after{position:absolute;right:24px;content:"\e5e1";font-family:"Material Icons"}.c-cta__button:hover{color:#73cbf3;background-color:transparent}.swiper-wrapper{z-index:0}.swiper-container{overflow-y:hidden;position:relative;background:#efefef;border:solid 4px #efefef;border-radius:16px}.swiper-container::-webkit-scrollbar{display:none}.swiper-slide picture{display:block;max-width:400px;margin:0 auto}.swiper-button-next:after,.swiper-button-prev:after{color:#ccc}.c-form{max-width:600px;margin:0 auto}.c-form__item{display:flex;flex-wrap:wrap;justify-content:space-evenly;margin-bottom:20px}.c-form__input,.c-form__label{padding:10px}.c-form__label{width:90%;position:relative}.c-form__required{position:absolute;top:5px;right:20px;display:inline-block;color:#fff;background-color:#73cbf3;border-radius:4px;padding:5px 5px;margin:0 0 0 18px}.c-form__input{width:90%;font-size:16px;border:solid 1px #333;border-radius:4px}.c-form__input:focus-visible{outline:#73cbf3 auto 1px}.c-form textarea.c-form__input{height:160px}@media (min-width:890px){.c-form__item{flex-wrap:nowrap}.c-form__label{width:40%}.c-form__input{width:55%}}.p-fv{min-height:56vh;display:flex;justify-content:flex-start;align-items:center;color:#333;background-color:rgba(255,255,255,.6);position:relative}.p-fv:after{position:absolute;content:"";width:100%;height:100%;background-image:url(../img/page/fv-bg.webp);background-position:center;background-size:cover;background-repeat:no-repeat;z-index:-1}.p-fv__inner{width:100%;max-width:1000px;margin:0 auto;padding:10px 20px}.p-fv__title{font-size:32px;font-weight:700;line-height:1.4;margin:0 0 16px} */
/*# sourceMappingURL=style.css.map */

/* ────────────────────────────── */
/* トップページ */
/* ────────────────────────────── */
.page-_top .titleSection {
    display: none;
}
.page-_top .pageIconSpacer {
    height: 0;
}
.page-_top .contents {
    padding-top: 0;
}
.page-_top .notion-h2 {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin: 80px auto 20px;
    position: relative;
    border: none;
}
.page-_top .notion-h2:after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 4px;
    bottom: -4px;
    left: 50%;
    border-radius: 8px;
    transform: translateX(-50%);
    background-color: #73cbf3;
}
.page-_top .notion-text > span {
    display: table;
    margin: 0px auto 32px;
    text-align: left;
}
/* 非表示セクション */
#block-61240220f0b14ae4b561c116bae91938 .notion-collection-view-search {
    display: none;
}
.p-fv {
    width: 100vw;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
}
.p-fv:after {
    background-image: url("https://traveler20.github.io/kokopp/asset/img/page/fv-bg.webp");
}
:root {
    --notion-blue: #1ca9e3;
    --bg-color: transparent;
    --notion-item-default: #efefef;
    --notion-item-blue: rgb(115 203 243 / 50%);
    --notion-item-yellow: rgb(255 230 105 / 50%);
    --notion-item-green: rgb(139 239 111 / 50%);
}
#section-block-a14af57325094177bcc129d33e49c307 {
    display: none;
}

/* ────────────────────────────── */
/* 共通部分 */
/* ────────────────────────────── */
body {
    line-height: 1.7;
}
.lang-ja {
    padding-top: 0;
    font-family: YuGothic, "Yu Gothic", "Helvetica Neue", Arial,
        "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
    min-height: 0;
}
.notion-collection-card-property .notion-page-title-icon {
    display: none;
}
.container {
    max-width: 800px;
    padding: 0 16px 32px;
}
.header__contentsWrapper,
.page-_top .container,
.page-gallery .container,
.page-map .container,
.page-contact .container {
    max-width: 1000px;
}

/* ヘッダー */
.header {
    position: inherit;
    height: 60px;
    background-color: #fff;
    border-bottom: 0.5px solid rgba(153, 153, 153, 0.5);
}
.header__img {
    height: 48px;
}
/* パンくずリスト */
.breadcrumbs .breadcrumb__icon {
    display: inline-block;
    width: 100%;
    height: 100%;
    top: -4px;
    bottom: 0;
}
.footerSectionBreadcrumb {
    margin-top: 40px;
}
/**/
.notion-h1,
.notion-h2,
.notion-h3,
.notion-text {
    line-height: 1.6;
    margin: 16px 0;
}
.notion b {
    font-weight: bold;
}
.notion-callout-text .notion-text {
    margin: 16px 0 0;
}
/* リンク */
.notion-link {
    color: var(--notion-blue);
    opacity: 1;
}
.notion-link:hover {
    text-decoration: underline;
}
/* 見出し */
.title {
    font-size: 32px;
    /*font-weight: bold;*/
}
@media (max-width: 640px) {
    .title {
        font-size: 28px;
    }
}
.notion-h2 {
    font-size: 24px;
    font-weight: bold;
    padding: 4px 14px;
    border-left: solid 4px #73cbf3;
    margin: 40px 0 20px;
}
.notion-h3 {
    margin-bottom: 0px;
    padding: 2px 14px;
    border-bottom: solid 2px #73cbf3;
    display: inline-block;
    /*max-width: 560px;*/
}
/* iframe */
iframe,
.notion-asset-wrapper iframe {
    border-radius: 16px;
}
.twitter-tweet > iframe {
    border-radius: 12px;
}
/* グリッドレイアウト */
.notion-gallery-grid {
    grid-template-columns: repeat(auto-fill, minmax(155px, 1fr));
    gap: 6px;
}
@media (min-width: 890px) {
    .notion-gallery-grid {
        grid-template-columns: repeat(auto-fill, minmax(318px, 1fr));
    }
}
.notion-collection-card-size-small .notion-collection-card-cover {
    height: 200px;
}
/* カード */
.notion-collection-card {
    box-shadow: none;
    border-radius: 0px;
    border: solid 4px var(--notion-item-default);
    background-color: var(--notion-item-default);
}
.notion-collection-card:hover {
    opacity: 0.7;
    background-color: var(--notion-item-default);
}
.notion-collection-card-property {
    padding: 4px 0 2px;
}
.notion-collection-card .notion-page-title-text {
    font-weight: bold;
}
/* カレンダー */
/*.react-calendar__navigation__arrow*/
.react-calendar button {
    display: flex;
    justify-content: center;
    align-items: center;
}
.notion-calender-link--spLink:before {
    background-color: #73cbf3;
}
.notion-calender-link,
.notion-calender-scheduleList-link,
.notion-calender-scheduleList-link .notion-collection-card-property {
    padding: 2px 0;
}
.notion-calender-link .notion-collection-card-body {
    padding: 0;
}
.notion-calender-link
    .notion-collection-card-body
    .notion-collection-card-property {
    padding: 0;
}

/**/
.notion-list-item-property .notion-property-date {
    display: inline-flex;
    align-items: flex-end;
}

/* テーブル */
.notion-table-view-header-cell-inner,
.notion-table-cell {
    border: none;
}
/*.notion-table, .notion-board{*/
/*    overflow: hidden;*/
/*}*/
@media (max-width: 890px) {
    .notion-table-row {
        flex-wrap: wrap;
    }
}
.notion-page-icon-default {
    display: none;
}

/*  */

/* ──────────────────────────────
 * 各記事
────────────────────────────── */
/* カバー画像 */
.coverImage {
    filter: opacity(24%) blur(2px) sepia(100%);
    height: 16vh;
}
/* 記事内画像 */
.notion-asset-wrapper img,
.medium-zoom-image--opened {
    border-radius: 16px;
}
.notion-collection-row-property {
    margin: 0;
}
.notion-collection-row-value {
    padding: 4px 0;
}

/* 目次 */
.notion-table-of-contents {
    background-color: #efefef;
    padding: 24px 18px;
    border-radius: 16px;
}
.notion-table-of-contents:before {
    content: "目次";
    display: block;
    margin: 0 0 8px;
    font-size: 18px;
    font-weight: bold;
}
.notion-table-of-contents-item {
    color: #333;
}
.notion-table-of-contents-item-body:before {
    display: inline-block;
    content: "\e5ca";
    font-size: 16px;
    font-weight: bold;
    font-family: "Material Icons";
    margin-right: 8px;
}

.swiper-pagination-bullet {
    background-color: #fff;
}
.swiper-button-next,
.swiper-button-prev,
.swiper-pagination {
    z-index: 1;
}
/* 共有ボタン */
.shareBtns {
    justify-content: flex-end;
}
