/* p-fv
--------------------------- */
@use "./../../foundation/system" as *;

.p-fv {
    min-height: 56vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    color: $c-black;
    background-color: rgba($color: $c-white, $alpha: 0.6);
    position: relative;
    &:after {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background-image: url(./../img/page/fv-bg.webp);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -1;
    }

    &__inner {
        width: 100%;
        @include content-maxwidth(1000px);
        margin: 0 auto;
        padding: 10px 20px;
    }
    &__title {
        font-size: 32px;
        font-weight: bold;
        line-height: 1.4;
        margin: 0 0 16px;
    }

    @include breakpoint(tablet) {
    }
    @include breakpoint(pc) {
    }
}
