/* c-form
--------------------------- */
@use "./../../foundation/system" as *;

.c-form {
    max-width: 600px;
    margin: 0 auto;
    &__item {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-bottom: 20px;
    }
    &__label,
    &__input {
        padding: 10px;
    }
    &__label {
        width: 90%;
        position: relative;
    }
    &__required {
        position: absolute;
        top: 5px;
        right: 20px;
        display: inline-block;
        color: $c-white;
        background-color: $c-primary;
        border-radius: 4px;
        padding: 5px 5px;
        margin: 0 0 0 18px;
    }
    &__input {
        width: 90%;
        font-size: 16px;
        border: solid 1px $c-black;
        border-radius: 4px;
    }
    &__input:focus-visible {
        outline: $c-primary auto 1px;
    }
    textarea.c-form__input {
        height: 160px;
    }

    @include breakpoint(tablet) {
    }
    @include breakpoint(pc) {
        &__item {
            flex-wrap: nowrap;
        }
        &__label {
            width: 40%;
        }
        &__input {
            width: 55%;
        }
    }
}

@media (min-width: 640px) {
}
