/* c-slider
--------------------------- */
@use "./../../foundation/system" as *;

@import url(https://unpkg.com/swiper@7/swiper-bundle.min.css);

.swiper-container {
    overflow-y: hidden;
    position: relative;
    background: #ccc;
    &::-webkit-scrollbar {
        display: none;
    }
}
.swiper-slide picture {
    display: block;
    max-width: 400px;
    margin: 0 auto;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    color: $c-body-white;
}
