/* l-footer
--------------------------- */
@use "./../foundation/system" as *;

// ──────────────────────────────
// .l-footer-share
// タイトルとURLのコピー
// ──────────────────────────────
.l-footer-share {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 40px 0;
    background: var(--bg-color);
    .l-footer-share__inner {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 8px;
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
        padding: 0 16px;
    }

    .l-footer-share__icon {
        fill: $c-white;
        width: 24px;
    }
    .l-footer-share__url,
    .l-footer-share__twitter {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        height: 30px;
        padding: 4px 16px;
        border-radius: 4px;
        color: $c-white;
        background-color: $c-primary;
        text-decoration: none;
        &:hover {
            opacity: 0.7;
        }
    }
    .l-footer-share__twitter {
        background-color: $c-brand-twitter;
    }
    .l-footer-share__label {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

// ──────────────────────────────
// .l-footer
// ──────────────────────────────
.l-footer {
    // text-align: center;
    font-size: 1.4rem;
    background: $c-black;
    padding: 40px 0 24px;
    border-top: solid 0.5px $c-white;

    &__inner {
        // @include content-maxwidth();
        max-width: 1000px;
        margin: 0 auto;
        padding: 10px 20px 36px;
        color: $c-white;

        border-bottom: solid 0.5px $c-white;

        display: flex;
        // flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: flex-start;
        gap: 16px;
    }
    &__nav {
        // flex: 1;
        &:nth-of-type(1) {
            width: 100%;
        }
        &:nth-of-type(2) {
            display: none;
        }
        &:nth-of-type(3),
        &:nth-of-type(4) {
            width: 47%;
        }
    }
    &__subtitle {
        font-size: 1.6rem;
        font-weight: bold;
        margin-bottom: 8px;
    }
    &__lists {
        li + li {
            margin-top: 6px;
        }
        a {
            color: $c-white;
        }
    }
    &__copy {
        display: block;
        text-align: center;
        color: $c-white;
        font-size: 1.2rem;
        margin: 24px auto 0;
    }

    @include breakpoint(tablet) {
        &__inner {
            // flex-direction: row;
            flex-wrap: nowrap;
        }
        &__nav {
            flex: 1;
            &:nth-of-type(2) {
                display: block;
            }
        }
        // &__copy {
        //     margin: auto 0 0;
        // }
    }
    @include breakpoint(pc) {
    }
}
