/* l-main
--------------------------- */
@use "./../foundation/system" as *;

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.l-main {
    flex: 1;
}
.l-main__logo {
    display: inline-block;
    width: 120px;
    background-color: $c-white;
    border-radius: 4px;
}
