/* l-nav
--------------------------- */
@use "./../foundation/system" as *;

.l-nav {
    // position: sticky;
    position: fixed;
    width: 100%;
    bottom: 0;
    border-top: solid 0.5px $c-base-black;
    z-index: 1;

    &__links {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $c-base-white;

        li {
            width: 50%;
        }
        li a {
            text-align: center;
            text-decoration: none;
            color: $c-body-black;

            width: 100%;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            padding: 14px 20px;
            border: solid 0.5px $c-base-black;
        }
    }
}

// ナビゲーション
.l-nav__label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 14px 20px;
    border: solid 0.5px $c-base-black;
}
.l-nav__navClose {
    display: none;
}
.l-nav__content {
    position: absolute;
    bottom: 56px;
    left: 100%;
    transition: all 0.4s;
}
/* menu toggle */
#l-nav__navToggle {
    display: none;
}
#l-nav__navToggle:checked {
    & ~ .l-nav__navClose {
        display: block;
        position: fixed;
        bottom: 56px;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: $c-base-black, $alpha: 0.6);
    }
    & ~ .l-nav__content {
        position: absolute;
        bottom: 56px;
        right: 0;
        left: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: calc(100vh - 56px);
        background-color: $c-base-white;
        iframe {
            display: block;
            width: 90%;
            height: 90%;
        }
    }
}

// ──────────────────────────────
// bottom
// ──────────────────────────────
// bottom-button
@mixin bottom-button() {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 48px;
    height: 48px;
    padding: 4px;
    color: $c-body-white;
    background-color: $c-primary;
    box-shadow: 0 2px 4px 0px $c-base-black;
    border-radius: 50%;
}

//
.header__searchOpenBtn {
    @include bottom-button();

    position: fixed;
    bottom: 16px;
    right: 76px;
    z-index: 1;
}
.header__searchOpenBtn:after {
    font-size: 10px;
    font-weight: bold;
    content: "検索";
}
.header__searchOpenBtn:hover {
    background-color: $c-primary;
    opacity: 0.7;
}
.header__searchOpenBtn svg {
    font-size: 16px;
    color: $c-body-white;
    fill: $c-body-white;
    width: 24px;
    height: 24px;
}

// icon-nav
.l-nav-toggle {
    color: $c-body-white;
    position: fixed;
    bottom: 16px;
    right: 16px;
    z-index: 1;
}
.l-nav-toggle__label {
    @include bottom-button();

    position: relative;
}
.l-nav-toggle__label:hover {
    opacity: 0.7;
}
.l-nav-toggle__label span {
    font-weight: bold;
}
.l-nav-toggle__label:after {
    font-size: 10px;
    font-weight: bold;
    content: "マップ";
}
.l-nav-toggle__navClose {
    display: none;
}
.l-nav-toggle__content {
    position: absolute;
    bottom: 70px;
    left: 140%;
    transition: all 0.4s;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: calc(100vh - 56px);
    background-color: $c-base-white;
    border-radius: 0 0 0 16px;
    iframe {
        display: block;
        width: 90%;
        height: 90%;
    }
}
/* menu toggle */
#l-nav-toggle__navToggle {
    display: none;
}
#l-nav-toggle__navToggle:checked {
    & ~ .l-nav-toggle__navClose {
        display: block;
        position: fixed;
        bottom: 0px;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: $c-base-black, $alpha: 0.6);
    }
    & ~ .l-nav-toggle__content {
        // position: absolute;
        position: fixed;
        bottom: 70px;
        right: 0;
        left: 10%;
    }
}
