/* l-nav
--------------------------- */
@use "./../foundation/system" as *;

.l-nav {
    // position: sticky;
    position: fixed;
    width: 100%;
    bottom: 0;
    border-top: solid 0.5px $c-base-black;
    z-index: 1;

    &__links {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $c-base-white;

        li {
            width: 50%;
        }
        li a {
            text-align: center;
            text-decoration: none;
            color: $c-body-black;

            width: 100%;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            padding: 14px 20px;
            border: solid 0.5px $c-base-black;
        }
    }
}
