/* l-nav
--------------------------- */
@use "./../foundation/system" as *;

// ──────────────────────────────
// common
// ──────────────────────────────
@mixin bottom-button() {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 56px;
    height: 56px;
    padding: 4px;
    color: $c-white;
    background-color: $c-primary;
    box-shadow: 0 2px 4px 0px $c-black;
    border-radius: 16px;
}
//
// .header__searchOpenBtn:after {
//     font-size: 14px;
//     font-weight: bold;
//     line-height: 1.4;
//     content: "検索";
// }
.l-nav-toggle__label:after {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.4;
    content: "マップ";
}
// .header__searchOpenBtn:hover {
//     background-color: $c-primary;
//     opacity: 0.7;
// }
.l-nav-toggle__label:hover {
    opacity: 0.7;
}

// ──────────────────────────────
// 検索ボタン
// ──────────────────────────────
// .header__searchOpenBtn {
//     @include bottom-button();

//     position: fixed;
//     bottom: 16px;
//     right: 88px;
//     z-index: 9;
// }

// .header__searchOpenBtn svg {
//     font-size: 16px;
//     color: $c-white;
//     fill: $c-white;
//     width: 24px;
//     height: 24px;
// }

// ──────────────────────────────
// マップボタン
// ──────────────────────────────
.l-nav-toggle {
    color: $c-white;
    position: fixed;
    bottom: 16px;
    right: 16px;
    z-index: 9;
}
.l-nav-toggle__label {
    @include bottom-button();

    position: relative;
}
.l-nav-toggle__label span {
    font-weight: bold;
}
.l-nav-toggle__navClose {
    display: none;
}
.l-nav-toggle__content {
    position: absolute;
    bottom: 70px;
    left: 140%;
    transition: all 0.4s;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: calc(100% - 56px);
    background-color: $c-white;
    border-radius: 0 0 0 16px;
    iframe {
        display: block;
        width: 90%;
        height: 90%;
    }
}
/* menu toggle */
#l-nav-toggle__navToggle {
    display: none;
}
#l-nav-toggle__navToggle:checked {
    & ~ .l-nav-toggle__navClose {
        display: block;
        position: fixed;
        bottom: 0px;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: $c-black, $alpha: 0.6);
    }
    & ~ .l-nav-toggle__content {
        // position: absolute;
        position: fixed;
        bottom: 70px;
        right: 0;
        left: 10%;
    }
}
