<%_ const path='./'; _%>
<!DOCTYPE html>
<html lang="ja">
    <head>
        <!-- meta -->
        <%- include('./_common/_head', { path:path,meta:data.meta['404'],})%>
    </head>
    <body>
        <!-- .l-main -->
        <main class="l-main">
            <!--  -->
            <section id="" class="l-section">
                <div class="l-section__inner">
                    <h2 class="l-section__title">
                        ページが見つかりませんでした。
                    </h2>
                    <p class="l-section__lead">
                        当サイトをご覧頂きありがとうございます。<br />
                        申し訳ありませんが、アクセスしようとした記事は削除されたかURLが変更されています。🙇
                    </p>
                    <article class="l-section__block">
                        <div class="c-cta">
                            <a href="/" class="c-cta__button"
                                >トップページに戻る</a
                            >
                        </div>
                    </article>
                </div>
            </section>
            <!-- / -->
        </main>
        <!-- /.l-main -->
    </body>
</html>
