<%_ const path='./'; _%>
<!DOCTYPE html>
<html lang="ja">
    <head>
        <!-- meta -->
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- ogp -->
        <meta property="og:type" content="website" />
        <title>
            ページが見つかりませんでした｜小江戸川越観光・月がきれいの聖地巡礼ならここっぷ
        </title>
        <meta
            name="description"
            content="小江戸川越観光・月がきれいの聖地巡礼ならここっぷ。川越の名所をまとめたメディアサイトです。"
        />
        <meta
            property="og:title"
            content="ページが見つかりませんでした｜小江戸川越観光・月がきれいの聖地巡礼ならここっぷ"
        />
        <meta
            property="og:description"
            content="小江戸川越観光・月がきれいの聖地巡礼ならここっぷ。川越の名所をまとめたメディアサイトです。"
        />
        <meta property="og:url" content="https://kawagoe.traveler20.site/" />
        <!-- ogp-image -->
        <meta
            property="og:image"
            content="https://traveler20.github.io/kokopp/asset/img/ogp.webp"
        />
        <meta property="og:locale" content="ja_JP" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:site" content="@traveler20site" />
        <link
            rel="icon"
            type="image/x-icon"
            href="https://traveler20.github.io/kokopp/asset/img/favicon.ico"
        />
        <!-- css -->
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
        />
        <link
            rel="stylesheet"
            href="https://traveler20.github.io/kokopp/asset/css/style.css"
        />
    </head>
    <body>
        <!-- .l-main -->
        <main class="l-main">
            <!--  -->
            <section id="" class="l-section">
                <div class="l-section__inner">
                    <h2 class="l-section__title">
                        ページが見つかりませんでした。
                    </h2>
                    <p class="l-section__lead">
                        当サイトをご覧頂きありがとうございます。<br />
                        申し訳ありませんが、アクセスしようとした記事は削除されたかURLが変更されています。🙇
                    </p>
                    <article class="l-section__block">
                        <div class="c-cta">
                            <a href="/" class="c-cta__button"
                                >トップページに戻る</a
                            >
                        </div>
                    </article>
                </div>
            </section>
            <!-- / -->
        </main>
        <!-- /.l-main -->
    </body>
</html>
