<%_ const path='./'; _%>
<!DOCTYPE html>
<html lang="ja">
    <head>
        <!-- meta -->
        <%- include('./_common/_head', { path:path,meta:data.meta['404'],})%>
    </head>
    <body>
        <%- include('./_common/_header',{path:path,}) %>

        <!-- .l-main -->
        <main class="l-main">
            <!--  -->
            <section id="" class="l-section">
                <div class="l-section__inner">
                    <h2 class="l-section__title">
                        ページが見つかりませんでした。
                    </h2>
                    <p class="l-section__lead">
                        当サイトをご覧頂きありがとうございます。<br />
                        申し訳ありませんが、アクセスしようとした記事は削除されたかURLが変更されています。<br />
                        <a href="/">トップページ</a>に戻る
                    </p>
                    <article class="l-section__block"></article>
                    <article class="l-section__block">
                        <!-- .c-cta -->
                        <%- include('./_component/_cta',{path:path,}) %>
                        <!-- /.c-cta -->
                    </article>
                </div>
            </section>
            <!-- / -->
        </main>
        <!-- /.l-main -->

        <%- include('./_common/_footer',{path:path,}) %>
    </body>
</html>
