<%_ const path='./'; _%>
<!DOCTYPE html>
<html lang="ja">
    <head>
        <!-- meta -->
        <%- include('./_common/_head', { path:path,meta:data.meta['home'],})%>
    </head>
    <body>
        <!-- .c-loading -->
        <article class="c-loading" id="js-loading">
            <div class="c-loading__spinner"></div>
        </article>
        <!-- /.c-loading -->

        <%- include('./_common/_header',{path:path,}) %>

        <!-- .l-main -->
        <main class="l-main">
            <!-- .p-about -->
            <section id="about" class="p-about c-section">
                <div class="c-section__inner">
                    <h2 class="c-section__title">タイトルテキスト</h2>
                    <p class="c-section__lead">
                        テキストテキストテキストテキストテキストテキストテキストテキスト
                    </p>
                    <article class="c-section__block">
                        <!-- .c-cta -->
                        <%- include('./_component/_cta',{path:path,}) %>
                        <!-- /.c-cta -->
                    </article>
                </div>
            </section>
            <!-- /.p-about -->
        </main>
        <!-- /.l-main -->

        <%- include('./_common/_footer',{path:path,}) %>
    </body>
</html>
